<div class="card h-100 shadow-sm ad-card" [routerLink]="['/ads', ad.id]">

  <div class="ad-image-wrapper">

    @if (getPrimaryImage(ad)) {
      <img
        [src]="getPrimaryImage(ad)"
        class="card-img-top"
        alt="animal image"
      />
    } @else {
      <div class="no-image">
        <span>Nincs kép</span>
      </div>
    }

  </div>

  <div class="card-body d-flex flex-column">

    <h5 class="card-title">{{ ad.title }}</h5>

    <p class="card-text flex-grow-1">
      {{ ad.description }}
    </p>

    <p class="fw-bold text-success mb-1">
      {{ ad.price }} Ft
    </p>

    <p class="text-muted mb-0">
      {{ ad.location }}
    </p>

  </div>

</div>
