<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="card auth-card p-4 shadow-lg">


    <ul class="nav nav-tabs mb-3">
      <li class="nav-item">
        <a class="nav-link"
                [class.active]="mode === 'login'"
                (click)="mode = 'login'">
          Bejelentkezés
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
                [class.active]="mode === 'register'"
                (click)="mode = 'register'">
          Regisztráció
        </a>
      </li>
    </ul>

    <app-login *ngIf="mode === 'login'"></app-login>

    <app-register *ngIf="mode === 'register'"></app-register>

  </div>
</div>
