.auth-card {
  width: 500px;
  border-radius: 12px;
}

.vh-100 {
  background: linear-gradient(135deg, #f5f7fa, #e4e8f0);
}

.nav-link{
  cursor: pointer;
}

.nav-tabs {
  border-bottom: 1px solid #dee2e6;
}

.nav-tabs .nav-link {
  color: #495057;
  background-color: #f8f9fa;
  border: 1px solid transparent;
  border-radius: 6px 6px 0 0;
  margin-right: 4px;
}

.nav-tabs .nav-link:hover {
  background-color: #e9ecef;
}

.nav-tabs .nav-link.active {
  color: #000;
  background-color: #ffffff;
  border-color: #dee2e6 #dee2e6 #ffffff;
}
