<div class="container mt-4 mb-5">

  <div class="card shadow-sm border-0">

    <div class="card-body p-4">

      <h2 class="mb-4">
        @if (isEditMode){
          Hirdetés módosítása
        } @else {
        Új hirdetés létrehozása
        }
      </h2>

      <div class="mb-3">

        <label class="form-label">
          Cím
        </label>

        <input
          type="text"
          class="form-control"
          [(ngModel)]="title">

      </div>

      <div class="mb-3">

        <label class="form-label">
          Leírás
        </label>

        <textarea
          rows="6"
          class="form-control"
          [(ngModel)]="description">
        </textarea>

      </div>

      <div class="row">

        <div class="col-md-6 mb-3">

          <label class="form-label">
            Ár
          </label>

          <input
            type="number"
            class="form-control"
            [(ngModel)]="price">

        </div>


        <div class="row mb-3">

          <div class="col-md-6">
            <label class="form-label">Ország</label>
            <input class="form-control" [(ngModel)]="location.country">
          </div>

          <div class="col-md-6">
            <label class="form-label">Város</label>
            <input class="form-control" [(ngModel)]="location.city">
          </div>

        </div>
      </div>



      <div class="mb-4">

        <label class="form-label">
          Kategória
        </label>

        <app-category-selector
          [(selectedCategoryId)]="categoryId">
        </app-category-selector>

      </div>



      <div class="row mb-3">

        <div class="col-md-6">
          <label class="form-label">Súly (kg)</label>
          <input type="number" class="form-control" [(ngModel)]="weight">
        </div>

        <div class="col-md-6">
          <label class="form-label">Születési dátum</label>
          <input type="date" class="form-control" [(ngModel)]="birthDate">
        </div>

      </div>



      <div class="mb-3">
        <label class="form-label">Nem</label>

        <select class="form-select" [(ngModel)]="gender">
          <option [ngValue]="null">Válassz</option>
          <option value="MALE">Hím</option>
          <option value="FEMALE">Nőstény</option>
          <option value="UNKNOWN">Ismeretlen</option>
        </select>
      </div>



      <div class="mb-3">

        <div class="form-check">
          <input class="form-check-input" type="checkbox" [(ngModel)]="vaccinated">
          <label class="form-check-label">Oltott</label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" [(ngModel)]="chipped">
          <label class="form-check-label">Chippelt</label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" [(ngModel)]="neutered">
          <label class="form-check-label">Ivartalanított</label>
        </div>

      </div>




      <!------------------------------>

      <div
        class="upload-zone mb-3"
        (dragover)="onDragOver($event)"
        (drop)="onDrop($event)"
        (click)="fileInput.click()">

        <p class="mb-1">
          Húzd ide a képeket
        </p>

        <small class="text-muted">
          vagy kattints a feltöltéshez
        </small>

        <input
          #fileInput
          type="file"
          hidden
          multiple
          accept="image/*"
          (change)="onFileSelected($event)">
      </div>


      @if (images.length) {

        <div class="row g-3 mb-4">

          @for (image of images; track image.key) {

            <div class="col-md-3">

              <div class="preview-card">

                <img
                  [src]="image.type === 'existing' ? image.url : image.preview"
                  class="preview-image"
                  alt="image">

                <button
                  class="btn btn-sm btn-danger remove-btn"
                  (click)="removeImage(image)">

                  ×

                </button>

              </div>

            </div>

          }

        </div>

      }

      <button
        class="btn btn-success btn-lg"
        [disabled]="loading"
        (click)="createAd()">

        @if (loading) {
          Mentés...
        } @else if(isEditMode){
          Mentés
        }@else{
          Hirdetés létrehozása
        }

      </button>

    </div>

  </div>

</div>
