@if (!ad) {

  <div class="container mt-5">
    <p>Loading...</p>
  </div>

} @else {

  <div class="container mt-4">

    <div class="row g-4">


      <div class="col-lg-7">

        @if(ad.images.length){

          <div id="adCarousel" class="carousel slide shadow rounded overflow-hidden">


            <div class="carousel-indicators">

              @for (img of ad.images; track img.id; let i = $index) {

                <button
                  type="button"
                  data-bs-target="#adCarousel"
                  [attr.data-bs-slide-to]="i"
                  [class.active]="i === 0"
                  [attr.aria-current]="i === 0 ? 'true' : null"
                  [attr.aria-label]="'Slide ' + (i + 1)">
                </button>

              }

            </div>


            <div class="carousel-inner">

              @for (img of ad.images; track img.id; let i = $index) {

                <div class="carousel-item" [class.active]="i === 0">

                  <img
                    [src]="getImageUrl(img.url)"
                    class="d-block w-100 carousel-image"
                    alt="ad image"
                  >

                </div>

              }

            </div>


            <button class="carousel-control-prev" type="button" data-bs-target="#adCarousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </button>


            <button class="carousel-control-next" type="button" data-bs-target="#adCarousel" data-bs-slide="next">
              <span class="carousel-control-next-icon"></span>
            </button>

          </div>

        } @else {

          <div class="no-image-placeholder shadow rounded">
            Nincs kép
          </div>

        }

      </div>

      <!-- RIGHT SIDE -->
      <div class="col-lg-5">

        <div class="card shadow-sm border-0">

          <div class="card-body">

            <h1 class="mb-3">
              {{ ad.title }}
            </h1>

            <h2 class="text-success fw-bold mb-4">
              {{ ad.price }} Ft
            </h2>

            <p class="text-muted">
              {{ ad.country || 'N/A' }} / {{ ad.city || 'N/A' }}

            </p>

            <hr>

            <p><strong>Kategória:</strong> {{ ad.categoryName }}</p>
            <p><strong>Feladó:</strong> {{ ad.username }}</p>

            <p><strong>Nézettség:</strong> {{ ad.viewCount ?? 0 }}</p>

            <hr>

            <p><strong>Nem:</strong> {{ ad.gender }}</p>
            <p><strong>Súly:</strong> {{ ad.weight }} kg</p>
            <p><strong>Kor:</strong> {{ ad.age }} év</p>

            <hr>

            <p>Oltott: {{ ad.vaccinated ? 'Igen' : 'Nem' }}</p>
            <p>Chippelt: {{ ad.chipped ? 'Igen' : 'Nem' }}</p>
            <p>Ivartalanított: {{ ad.neutered ? 'Igen' : 'Nem' }}</p>

            <hr>


            <div class="d-grid gap-2">

              <button class="btn btn-success btn-lg">
                Kapcsolat
              </button>

              <button class="btn"
                      [ngClass]="isFav ? 'btn-danger' : 'btn-outline-secondary'"
                      (click)="toggleFavorites()">
                {{ isFav ? 'Eltávolítás a kedvencekből' : 'Kedvencekhez adás'}}
              </button>

            </div>

          </div>

        </div>

      </div>

    </div>

    <div class="card shadow-sm border-0 mt-4">

      <div class="card-body">

        <h3 class="mb-3">
          Leírás
        </h3>

        <p class="description mb-0">
          {{ ad.description }}
        </p>

      </div>

    </div>

  </div>

}
