<div class="container mt-4">

  <app-ad-filter
    (filterChange)="onFilterChange($event)">
  </app-ad-filter>

  <h2 class="mb-4">Hirdetések</h2>
  @if (loading) {
    <p>Loading...</p>
  } @else if (ads.length === 0){
    <p>Nincs hirdetés</p>
  } @else {
    <div class="row g-3 align-items-stretch">

      @for (ad of ads; track ad.id) {

        <div class="col-md-4 mb-4">

          <app-ad-card [ad]="ad"></app-ad-card>

        </div>

      }

    </div>
  }

  <!-- PAGINATION -->

    <nav>
      <ul class="pagination justify-content-center">

        <li class="page-item" [class.disabled]="page === 0">
          <button class="page-link" (click)="prev()">Előző</button>
        </li>

        @for (p of [].constructor(totalPages); track $index) {
          <li class="page-item" [class.active]="$index === page">

            <button class="page-link" (click)="goToPage($index)">
              {{ $index + 1 }}
            </button>
          </li>
        }


        <li class="page-item" [class.disabled]="page >= totalPages - 1">
          <button class="page-link" (click)="next()">Következő</button>
        </li>

      </ul>
    </nav>
  




</div>
