<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">

  <div class="d-flex align-items-center gap-2">

    <a class="navbar-brand" routerLink="/">
      Animal Market
    </a>

    <button
      class="btn btn-outline-light"
      routerLink="/my-ads">

      Saját hirdetések

    </button>

  </div>



  <div class="ms-auto">

    @if (!authService.isLoggedIn()){

      <button class="btn btn-outline-light" routerLink="/auth">
        Login / Register
      </button>
    }
    @else {
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown">
          {{ authService.getUsername() }}
        </button>

        <ul class="dropdown-menu dropdown-menu-end">
          <li>
            <button class="dropdown-item" (click)="logout()">
              Log out
            </button>
          </li>
        </ul>
      </div>
    }

  </div>

</nav>
