<div class="container mt-4">

  <div class="d-flex justify-content-between align-items-center mb-4">

    <h2 class="mb-0">
      Saját hirdetések
    </h2>

    <button
      class="btn btn-success"
      (click)="onCreate()">

      + Új hirdetés

    </button>

  </div>

  @if (loading) {

    <p>Loading...</p>

  } @else if (ads.length === 0) {

    <div class="alert alert-secondary">
      Nincs saját hirdetésed.
    </div>

  } @else {

    <div class="row g-3 align-items-stretch">

      @for (ad of ads; track ad.id) {

        <div class="col-md-4 mb-4">

          <app-ad-card
            [ad]="ad"
            [showActions]="true"
            (edit)="onEditAd($event)"
            (delete)="openDeleteModal($event)">
          </app-ad-card>

        </div>

      }

    </div>

  }

</div>



<div
  class="modal fade"
  tabindex="-1"
  [class.show]="showDeleteModal"
  [style.display]="showDeleteModal ? 'block' : 'none'">

  <div class="modal-dialog modal-dialog-centered">

    <div class="modal-content">

      <div class="modal-header">

        <h5 class="modal-title">
          Törlés megerősítése
        </h5>

        <button
          type="button"
          class="btn-close"
          (click)="closeDeleteModal()">
        </button>

      </div>

      <div class="modal-body">
        <p>Biztosan törölni szeretnéd ezt a hirdetést?</p>
      </div>

      <div class="modal-footer">

        <button
          class="btn btn-secondary"
          (click)="closeDeleteModal()">

          Mégse

        </button>

        <button
          class="btn btn-danger"
          (click)="confirmDelete()">

          Törlés

        </button>

      </div>

    </div>

  </div>

</div>


<!-- backdrop -->
<div
  class="modal-backdrop fade show"
  *ngIf="showDeleteModal">
</div>
